.WhatILike {
    padding-bottom: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    font-family: 'Shadows Into Light', cursive;
    color: white;
}

.WhatIDid {
    padding-bottom: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    font-family: 'Shadows Into Light', cursive;
    color: white;
}

.WhereIStand {
    padding-bottom: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    font-family: 'Shadows Into Light', cursive;
    color: white;
}

.desc {
    font-size: 20px;
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 3px;
    color: #03e9f4;
}