.accordion {
    background-color: inherit;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 25px;
    transition: 0.4s;
    font-family: 'Shadows Into Light', cursive;
    color: white;
    border-radius: 10px;
}

.active,
.accordion:hover {
    background: #99ffff;
    color: black;
}

.panel {
    padding: 0 18px;
    background-color: inherit;
    border-radius: 10px;
    overflow: hidden;
    width: 50%;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.right-plus {
    float: right;
    text-align: right;
}